.App {
    background-color: #36393F;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App a {
    color: #95A46B;
    text-decoration: none;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 1.25ch;
    height: 1.25ch;
}

::-webkit-scrollbar-thumb {
    background: #95A46B;
    border-radius: 6px;
}
