.App {
    background-color: #36393F;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App a {
    color: #95A46B;
    text-decoration: none;
    font-weight: bold;
}
