.channel-list {
    background-color: #2F3136;
    min-width: 20%;
    max-width: 20%;
    max-height: calc(100vh - 6.5rem);
    padding: 0.75rem 0;
    flex: 1 0 auto;
}

.channel-list ul {
    padding: 0 2ch;
    list-style: none;
}
