.channel-list {
    background-color: #2F3136;
    display: inline-block;
    width: 25%;
    text-align: left;
    padding-top: 0.75rem;
}

.channel-list ul {
    padding: 0 2ch;
    list-style: none;
}
