.content code {
    background-color: #2F3136;
    padding: 0 0.33ch;
}

.content em {
    font-style: italic;
}

.content strong {
    font-weight: 700;
}

.content del {
    text-decoration: line-through;
}
