.message-list {
    display: inline-block;
    max-height: 91.5vh;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.message>* {
    display: inline-block;
}

.avatar {
    height: 3rem;
    border-radius: 3rem;
    margin: 0 1.5ch;
}
