.message code {
    background-color: #2F3136;
    padding: 0 0.33ch;
}

.message em {
    font-style: italic;
}

.message strong {
    font-weight: 700;
}

.message del {
    text-decoration: line-through;
}

.message blockquote {
    border-radius: 2px;
    border-left: 0.5ch solid #4F545C;
    padding-left: 1.5ch;
}
